{% extends 'base_back.html.twig' %}

{% block title %}Categorie Don
{% endblock %}

{% block body %}
	<h1>Categorie Don</h1>

	<table class="table">
		<thead>
			<tr>
				
				<th>Nom</th>
				<th>Afficher/Modifier</th>
			</tr>
		</thead>
		<tbody>
			{% for category_d in category_ds %}
				<tr>
					
					<td>{{ category_d.NameCa }}</td>
					<td>
						<a href="{{ path('app_category_d_show', {'id': category_d.id}) }}">
							<button type="button" class="btn btn-outline-success">Afficher</button>
						</a>
						<a href="{{ path('app_category_d_edit', {'id': category_d.id}) }}">
							<button type="button" class="btn btn-outline-danger">Modifier</button>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_category_d_new') }}">
		<button type="button" class="btn btn-outline-success">Ajout</button>
	</a>
	
{% endblock %}
