<form method="post" action="{{ path('app_categorie_delete', {'id': categorieEvent.id}) }}" onsubmit="return confirm('Vous allez supprimer les evenement de ce categorie');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorieEvent.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
