{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="alert alert-warning" role="alert">
            Tu as déjà participé dans cette association
        </div>
        <a href="{{ path('app_association_index') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
