.rating {
    display: inline-block;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 30px;
    color: #ddd;
    float: right;
}

.rating label:before {
    content: "\2605";
}

.rating input[type="radio"]:checked~label {
    color: #f90;
}