<div class="rating">
  <input type="radio" id="star5" name="rating" value="5" />
  <label for="star5" title="Excellent">5 étoiles</label>
  <input type="radio" id="star4" name="rating" value="4" />
  <label for="star4" title="Très bien">4 étoiles</label>
  <input type="radio" id="star3" name="rating" value="3" />
  <label for="star3" title="Bien">3 étoiles</label>
  <input type="radio" id="star2" name="rating" value="2" />
  <label for="star2" title="Moyen">2 étoiles</label>
  <input type="radio" id="star1" name="rating" value="1" />
  <label for="star1" title="Mauvais">1 étoile</label>
</div>
