{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
<center>
   <h2><i> Ajouter un evenement </i></h2>
</center>
    {{ include('evenement/_form.html.twig') }}

   
{% endblock %}
