{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="alert alert-warning" role="alert">
            Veuillez s'inscrire 
        </div>
        <a href="{{ path('app_don_Client') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
