{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}

 {% form_theme resetForm 'bootstrap_5_horizontal_layout.html.twig' %}  

{{ form_start(resetForm) }}
<div class="col-lg-5">
{{ form_row(resetForm.newpassword) }}
</div>
<div class="col-lg-5">
{{ form_row(resetForm.email) }}
</div>
 {{ form_errors(resetForm) }} 

  <button type="submit" class="btn">Register</button>

{% endblock %}
