{% extends 'base.html.twig' %}

{% block title %}Hello ForgotPasswordController!{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{{form_start(resetForm)}}
{{form_row(resetForm.email)}}
  <button type="submit" class="btn">Register</button>
{{form_end(resetForm)}}
{% endblock %}
