{% extends 'base.html.twig' %}

{% block title %}Hello ForgotPasswordController!{% endblock %}

{% block body %}
{{form_start(resetForm)}}
{{form_widget(resetForm)}}
  <button type="submit" class="btn">Register</button>
{{form_end(resetForm)}}
{% endblock %}
