{% extends 'base.html.twig' %}



{% block body %}
<body>
    
    
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date_reclamation</th>
                <th>Etat</th>
                <th>IdUser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td>{{1}}</td>
                <td>{{ 2 }}</td>
                <td>{{ 3 }}</td>
                <td>{{ 4 }}</td>
                <td>{{ 5 }}</td>
                <td>
                </td>
            </tr>
      
            <tr>
                <td colspan="5">no records found</td>
            </tr>
       
        </tbody>
    </table>


    </body>
{% endblock %}