{# {% extends 'base.html.twig' %} #}
{% extends 'base_back.html.twig' %}
{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('categorieAssociation/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info" href="{{ path('app_categorieAssociation_index') }}">back to list</a>



    {{ include('categorieAssociation/_delete_form.html.twig') }}
{% endblock %}
