<form method="post" action="{{ path('app_categorie_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Cette catégorie est déja utilisée. Voulez vous la supprimer ? Si vous la supprimez toutes les annonces ayant cette catégorie seront supprimés aussi !');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button class="btn">Delete</button>
</form>
