{% extends 'base_back.html.twig' %}

{% block title %}Modification Categorie{% endblock %}

{% block body %}
    <h1>Modification Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}">Retour</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
