{% extends 'base.html.twig' %}

{% block title %}New Calendar1{% endblock %}

{% block body %}
    {# <h1>Create new Calendar1</h1> #}

    {{ include('calendar1/_form.html.twig') }}

    {# <a href="{{ path('app_calendar1_index') }}">back to list</a> #}
{% endblock %}
